@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* ルート変数 */
:root {
	--overlay-color: #bbe6e0;
}

br {
	/* brタグを選択不可にする */
	/* make brrs unselectable */
	user-select: none;
}

body {
	/* デフォルトのフォント設定 */
	/* default font */
	font-family: 'Roboto Condensed', serif;
	font-size: 20px;

	/* 背景パターン */
	/* background */
	background: linear-gradient(135deg, #c1d6d8 25%, transparent 25%) -30px 0,
		linear-gradient(-135deg, #c1d6d8 25%, transparent 25%) -30px 0,
		linear-gradient(45deg, #c1d6d8 25%, transparent 25%),
		linear-gradient(-45deg, #c1d6d8 25%, transparent 25%);
	background-size: 100px 100px;
	background-color: #eee;

	/* その他のスタイリング */
	/* other */
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h2 {
	font-weight: bold;
}

#navbar {
	/* スクロール時のトランジション時間 */
	/* scroll transition time */
	transition: top 0.2s;

	/* サイズと構造 */
	/* sizing/structure */
	font-size: 16px;
	height: 70px;
	padding: 0;
	align-items: center;

	/* 背景 */
	/* background */
	background-color: #fff;

	/* 動的な表示設定 */
	/* dynamic display settings */
	display: flex;
	justify-content: center;
	overflow: hidden;

	/* 固定位置 */
	/* fixed positioning */
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;

	/* ナビバーの下に影効果を追加 */
	/* add shadow effect below navbar */
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

	/* テキストを選択不可にする */
	/* make text unselectable */
	user-select: none;
}

.nav-list {
	position: relative;
	box-sizing: border-box;
	padding: 0;
  	overflow: hidden;
}

.nav-list:before {
	content: '|';
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	background: white;
	color: transparent;
	z-index: 1;
}

.nav-list-item {
	display: inline-block;
}

.nav-list-profile {
	display: inline-block;
}

.nav-list-item:before {
	content: '|';
	display: inline-block;
}


.nav-link {
	/* テキストのスタイリング */
	/* text styling */
	color: black;
	text-decoration: none;

	/* テキストのパディング */
	/* text padding */
	padding: 0 12px;

	/* 動的な表示設定 */
	/* dynamic display settings */
	display: inline;
}

.nav-link-blue {
	/* テキストのスタイリング */
	/* text styling */
	color: #342fcb;
	font-weight: bold;
	text-decoration: underline;

	/* テキストのパディング */
	/* text padding */
	padding: 0 12px;

	/* 動的な表示設定 */
	/* dynamic display settings */
	display: inline;
}

.nav-text:hover {
	/* スタイリング */
	/* styling */
	text-shadow: 0px 0px 1px black;
}

#navbar-logo {
	/* サイズ */
	/* sizing */
	height: 60%;

	/* パディング */
	/* padding */
	padding-left: 10px;
	padding-right: 5px;
}

#navbar-logo>img {
	/* サイズ */
	/* sizing */
	height: 100%;
}

#content {
	/* ナビバーの高さに合わせて調整 */
	/* Adjust this value to match the height of your navbar */
	padding-top: 70px;
}

#content>.sticker-box {
	/* 背景 */
	/* background */
	background: linear-gradient(135deg, var(--overlay-color) 25%, transparent 25%) -30px 0,
		linear-gradient(-135deg, var(--overlay-color) 25%, transparent 25%) -30px 0,
		linear-gradient(45deg, var(--overlay-color) 25%, transparent 25%),
		linear-gradient(-45deg, var(--overlay-color) 25%, transparent 25%);
	background-color: #eee;
	background-size: 80px 80px;

	/* ボックス構造 */
	/* box structure */
	padding: 7px 11px;
	border: 0px;
	border-radius: 10px;

	/* 表示オプション */
	/* display options */
	overflow: auto;
	display: flex;
	width: fit-content;

	/* ボックスの周りに影効果を追加 */
	/* add shadow effect around box */
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.sticker-box>.sticker {
	/* マージン */
	/* margin */
	margin-left: 20px;

	/* 配置 */
	/* location */
	align-self: flex-end;

	/* サイズ */
	/* sizing */
	max-height: 200px;
}

#content>.box {
	/* 背景 */
	/* background */
	background: linear-gradient(135deg, var(--overlay-color) 25%, transparent 25%) -30px 0,
		linear-gradient(-135deg, var(--overlay-color) 25%, transparent 25%) -30px 0,
		linear-gradient(45deg, var(--overlay-color) 25%, transparent 25%),
		linear-gradient(-45deg, var(--overlay-color) 25%, transparent 25%);
	background-color: #eee;
	background-size: 80px 80px;

	/* ボックス構造 */
	/* box structure */
	padding: 7px 11px;
	border: 0px;
	border-radius: 10px;

	/* 表示オプション */
	/* display options */
	overflow: auto;
	width: border-box;
	height: fit-content;

	/* ボックスの周りに影効果を追加 */
	/* add shadow effect around box */
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

iframe {
	background-color: var(--overlay-color);
	border: 0;
	width: 100%;
}

.box>img {
	width: 100%;
}

#content {
	/* マージン */
	/* margin */
	margin: auto;
	margin-top: 20px;
	padding-left: 12px;
	padding-right: 12px;

	max-width: 1000px;

	/* テキストのスタイリング */
	/* text styling */
	font-weight: 500;
}

/* 小さな画面向けのオーバーライド */
/* overrides for small screen */
@media (max-width: 600px) {
	#content>.sticker-box {
		display: block;
		width: auto;
	}

  .sticker-box>.sticker {
		margin-left: 20px;
		float: left;
    max-height: 140px;
	}

  body {
	  font-size: 16px;
  }

  #navbar {
	  font-size: 14px;
  }

  #navbar-logo {
	/* サイズ */
    /* sizing */
    height: 50%;

	/* パディング */
    /* padding */
    padding-right: 3px;
  }
}

/* スクロールバー */
/* scrollbar */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #abd6d0;
}

::-webkit-scrollbar-track {
	background-color: #eee;
}

::-webkit-scrollbar-thumb {
	background: #bbe6e0;
	border-radius: 6px;
}

::-webkit-scrollbar-corner {
	background-color: #f1f1f1;
}

/* 順序付きリストのスタイリング */
/* Ordered list styling */
ol {
    list-style-type: decimal;
    margin-left: 20px; /* Adjust as necessary for your design */
    padding-left: 20px; /* Adjust as necessary for your design */
}

/* フッター */
/* Footer */

footer a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
	margin-top: auto;
}

footer a:hover {
    text-decoration: underline;
}

footer div {
    font-size: 14.5px;
}

/* 必須項目のスタイリング */
.required:after{ 
	content:'*'; 
	color:red;
	padding-left:1px;
}